/* PAGE */

body,
.pure-g [class*=pure-u] {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
  font-family: 'Roboto', 'Roboto', sans-serif;
}

code {
  display: block;
  margin: 20px 0 15px 0;
  padding: 10px;
  background: #eee;
}

.navbar .pure-menu-heading {
  font-weight: bold;
  text-transform: none;
}

.navbar .navbar-right {
  float: right;
}

.navbar .uport-logo {
  height: 16px;
  margin-right: 10px;
}

.button {
  margin: unit;
}

.flex {
  flex: 1;
}

.menuButton {
  marginLeft: -12;
  marginRight: 20;
}
